* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "SF UI Text Regular", sans-serif;
}

button {
    border: none;
}

a {
    text-decoration: none;
    color: unset;
}

h1,
h2,
h3,
header p {
    font-family: "HK Grotesk Bold";
}

:root {
    --transition-appear: 0.7s linear;
    --transition-moove: 2s cubic-bezier(.27, .63, .34, .98);
}

.hide {
    opacity: 0;
}

.translateLeft {
    opacity: 0;
    transform: translateX(-500px);
    /* transform: translateX(500px); */
}

.translateRight {
    opacity: 0;
    transform: translateX(500px);
    /* transform: translateX(-500px); */
}

header {
    position: absolute;
    display: flex;
    width: 158px;
    height: 49px;
    top: 30px;
    left: 5%;
    align-items: center;
    color: #A8A8C1;
    font-size: 31px;
    font-weight: bold;
    justify-content: space-between;
}

.qovery-engine {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background: #151B2B;
    color: white;
    padding: 110px 10px 30px 10px;
}

.info {
    display: flex;
    flex-direction: column;
}

.head {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 24px;
}

.head h1 {
    font-weight: bold;
    font-size: 32px;
    margin-right: 1%;
}

.star-button {
    border: 1px solid #D1D2D3;
    border-radius: 2px;
    background: #F8FAFB;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    text-transform: capitalize;
    height: 28px;
    width: 95px;
    justify-content: space-between;
    font-size: 12px;
}

.star {
    display: flex;
    width: 61px;
    justify-content: center;
    align-items: center;
}

.star img {
    padding-right: 2px;
}

.git-likes {
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 1px solid #D1D2D3;
    background: #FFFFFF;
    height: 26px;
    width: 32px;
}

.info-content {
    display: flex;
    flex-direction: column;
}

.content-text {
    max-width: 457px;
}

.content-text h2 {
    font-weight: 400;
    font-size: 21px;
    margin-bottom: 24px;
}

.content-text p {
    color: #8686B2;
    font-weight: 400;
    font-size: 13px;
}

.links {
    margin-top: 35px;
    display: flex;
    justify-content: center;
}

.links a {
    display: flex;
    align-items: center;
    padding: 7px 13px;
    border-radius: 3px;
    transition: 0.05s linear;
    font-size: 12px;
    transition: 0.1s linear;
}

.links a:hover {
    opacity: 0.8;
    transform: scale(1.05);
}

.github {
    background: #454658;
    margin-right: 24px;
}

.discord {
    background: #6578C0;
}

.links a img {
    margin-right: 5px;
}

.illustration {
    margin-top: 25px;
    max-width: 360px;
}

.illustration img {
    width: 100%;
    height: 100%;
}

.how-work {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 10px 30px 10px;
    background: #F9F9FD;
}

.how-text {
    color: #454658;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 837px;
    /* opacity: 0; */
    transition: var(--transition-appear);
}

.how-text h2 {
    font-weight: bold;
    font-size: 26px;
    margin-bottom: 24px;
}

.how-text p {
    font-size: 13px;
    text-align: center;
}

.how-work .illustration {
    transition: var(--transition-appear);
}

.askOlga {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #3C5D97;
    color: white;
    min-height: 100vh;
    padding: 50px 10px 0 10px;
}

.askOlga h2 {
    margin-bottom: 40px;
    font-size: 26px;
}

.buttons {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
}

.buttons button {
    /* opacity: 0; */
    /* transition: var(--transition-appear); */
    font-size: 12px;
    outline: none;
    background: #3C5D97;
    color: white;
    width: 110px;
    height: 25px;
    border-radius: 10px;
    box-shadow: -3px -3px 10px rgba(214, 214, 223, 0.2), 3px 3px 10px rgba(41, 58, 87, 0.4);
    margin-bottom: 25px;
}

.buttons button:hover {
    background: #4869a1;
}

.payslip {
    margin: 0 10px;
}

.buttons .selection {
    font-size: 11px;
    background: #4869a1;
    box-shadow: inset -3px -3px 3px rgba(214, 214, 223, 0.2), inset 0 2px 5px rgba(41, 58, 87, 0.7);
}

.results {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.results h3 {
    margin-top: 5px;
    margin-bottom: 25px;
    font-size: 22px;
}

.elements {
    font-size: 12px;
}

.elements .row {
    border-bottom: 1px solid #CCCCCC;
    padding: 15px 25px 17px 10px;
    transition: 1s cubic-bezier(0, 0, .38, 1);
}

.row.dark {
    background: #314A77;
}

.left-row {
    opacity: 0;
    transform: translateX(-500px);
}

.right-row {
    opacity: 0;
    transform: translateX(500px);
}

.solutions {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 10px 30px 10px;
    min-height: 100vh;
}

.group {
    /* opacity: 0; */
    /* transition: var(--transition-appear); */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item {
    transition: var(--transition-moove);
    max-width: 428px;
    margin-bottom: 50px;
}

.item-illustration {
    margin-bottom: 24px;
}

.item-text h3 {
    font-size: 20px;
    margin-bottom: 24px;
}

.item-text p {
    font-size: 13px;
}

.space {
    margin-bottom: 30px;
}

.item-text a {
    margin-top: 12px;
    font-size: 12px;
    text-transform: uppercase;
    color: #5D64D2;
}

.item-text a:hover {
    text-decoration: underline;
}

.item-illustration {
    max-width: 360px;
}

.resize img {
    width: 100%;
    height: 100%;
}

footer {
    width: 100%;
    height: 50px;
    background: #151B2B;
}

@media only screen and (min-width: 768px) {
    .qovery-engine {
        padding-bottom: 70px;
    }
    .head h1 {
        font-size: 46px;
        margin-right: 26px;
    }
    .content-text h2 {
        font-size: 25px;
    }
    .content-text p {
        font-size: 16px;
    }
    .links {
        margin-top: 48px;
    }
    .links a {
        display: flex;
        align-items: center;
        padding: 9px 16px;
        font-size: 14px;
    }
    .illustration {
        margin-top: 32px;
    }
    .qovery-engine .illustration {
        max-width: 567px;
    }
    .how-work {
        padding-bottom: 52px;
    }
    .how-text h2 {
        font-size: 32px;
    }
    .how-text p {
        font-size: 16px;
    }
    .how-work .illustration {
        max-width: 853px;
    }
    .askOlga h2 {
        font-size: 32px;
    }
    .buttons {
        justify-content: center;
    }
    .buttons button {
        font-size: 17px;
        width: 200px;
        height: 35px;
        border-radius: 20px;
        margin-bottom: 0px;
    }
    .buttons .selection {
        font-size: 14px;
    }
    .payslip {
        margin: 0 20px;
    }
    .results h3 {
        margin-top: 57px;
        margin-bottom: 54px;
        font-size: 27px;
    }
    .elements {
        font-size: 17px;
    }
    .elements .row {
        padding: 22px 50px 25px 20px;
    }
    .item-text h3 {
        font-size: 24px;
    }
    .item-text p {
        font-size: 16px;
    }
    .item-illustration {
        max-width: unset;
    }
    .resize {
        width: 422px;
    }
    footer {
        height: 100px;
    }
}

@media screen and (min-width: 1000px) {
    .buttons button {
        width: 250px;
        height: 51px;
        border-radius: 30px;
    }
    .payslip {
        margin: 0 44px;
    }
    .solutions {
        padding-bottom: 400px;
    }
    .item {
        margin-bottom: 0;
    }
    .group {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: unset;
        justify-content: space-around;
        margin-bottom: 65px;
    }
}

@media screen and (min-width: 1440px) {
    header {
        left: 151px;
        top: 41px;
    }
    /* .animateLogo {
        animation: 2s moveLogo linear;
    } */
    .qovery-engine {
        flex-direction: row;
        align-items: unset;
        justify-content: space-between;
        min-height: 100vh;
        background: #151B2B;
        color: white;
        padding: 80px 165px 159px 151px;
    }
    .info {
        margin-top: calc(210px - 80px);
    }
    .links {
        justify-content: flex-start;
    }
    .qovery-engine .illustration {
        margin-top: 0;
        max-width: unset;
        width: 567px;
        height: 687px;
    }
}

@keyframes moveLogo {
    0% {
        opacity: 0;
        transform: translate(1000px, 500px);
    }
    50% {
        transform: translate(800px, 500px);
    }
    100% {
        opacity: 1;
    }
}